

body {
    background-color: rgb(204, 204, 204);
    width: 100%;
         }


.col-md-3{
    border: 1px solid rgb(53, 31, 31);
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    
}
.col-md-6{
    border: 1px solid blue;
    padding-bottom: 100%;
}

.encabezado {
    
    width: 90%;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    border: none;
    padding: 10%;    
    align-items: center;

}


.boton1 {
    width: 100%;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 5px;
    font-family: inherit; 
    font-size: small;
    font-weight: 600;
    color: blue;    
}

.boton2 {

    width: 100%;
    background-color: transparent;
    border: none;
    font-family: inherit; 
    font-size: small;
    font-weight: 600;
    color: blue; 
}



h6 {
    font-size:medium;
    font-weight: 400;
    text-align: justify;
}

h4 {
   
    font-weight: 400;
    text-align: justify;
}

/* Segunda barra  */

.Nav1 {
    
    align-items: flex-start;
    
}

.container-fluid {
    padding: 2%;
    
}

.logoss {
    
    width: 20px;
    
}

.link {
    text-decoration: none;
    color: black;
}

/* tercera barra  */


.other {
    font-weight: bold;
    font-size: medium;
}




/* Quinta barra  */


div.scrollmenu {
    width: 90%;
    color: black;
    overflow: scroll;
    height: 500px;
    padding: 10px;
    
  }
  
  div.scrollmenu a {
    overflow: scroll;
    color: black;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    
  }
  
  div.scrollmenu a:hover {
    background-color: rgb(122, 139, 230);
    width: 100px;
  }


  
/* Sexta  barra  */

  .encabezado2 {

    font-size: medium;
    font-weight: 800;
    background-color: rgb(230, 230, 230); 
    width: 90%;
    border-radius: 10px;
    border: none;
    padding: 10%;    
    align-items: center;
  }

  .texto4
 {
     font-size: medium;
     font-weight: 800;
     
 }


 .encabezado3 {

    font-size: medium;
    font-weight: 800;
    background-color: rgb(230, 230, 230); 
    width: 90%;
    border-radius: 10px;
    border: none;
    padding: 10%;    
    align-items: center;
  }

  .texto5
 {
     font-size: medium;
     font-weight: 400;
          
 }
  

 .texto6 {
     font-size: medium;
     font-weight: 800;
     color: blue;     
 }